# Ignorer les fichiers temporaires de l’éditeur
*.log
*.tmp
*.swp

# Ignorer le dossier node_modules
node_modules/

# Ignorer les fichiers secrets de config
.env

# Ignorer les fichiers compilés
/dist/
/build/
